.page {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  background-color: #faf8f2;
}

.page>main {
  width: 100vw;
  height: 100vh;
}

/* css header */
.page>main>header {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid #e3bb42ff;
  text-align: center;
  gap: 5px;
}

.page>main>header>img {
  width: 100px;
  height: 50px;
}

.page>main>header>nav {
  display: flex;
  flex-flow: column wrap;
  margin-top: 10px;
  gap: 5px;
}

.page>main>header>nav>a {
  text-decoration: none;
  margin-left: 10px;
  color: white;
}

.page>main>header>nav>a:hover {
  color: #e3bb42ff;
}
/* Fim css header  */

/* css banner */
section.banner {
  display: flex;
  flex-direction: column;
  background-image: url(../../public/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 20px;
  height: 400px;
  color: #e3bb42ff;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

section.banner > h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 10px;
}

section.banner > button {
  padding: 20px;
  border-radius: 5px;
  background-color: #e3bb42ff;
  color: white;
  font-size: 1.1em;
  cursor: pointer;
}

section.banner > button:hover {
  background-color: white;
  color: #e3bb42ff;
}
/* Fim css banner */

/* css contato */
section.end_contato {
  background-color: white;
  display: flex;
  /* max-width: 1024px; */
  width: 100%;
  /* margin: auto; */
  justify-content: center;
  gap: 10px;
  flex-flow: column wrap;
  padding: 10px;
  /* position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, 40%); */
}

section.end_contato > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.icon {
  width: 35px;
  height: 35px;
  margin: auto;
}

.end_contato > div > h2 {
  width: 200px;
  margin: 0px auto 10px;
}

div.linha {
  border-bottom: 10px solid #e3bb42ff;
  width: 20%;
  text-align: center;
  margin: 0px auto 10px;
}

section.end_contato > div > p {
  text-align: center;
  width: 200px;
  margin: 0px auto 10px;
}
/* Fim css contato */

/* Início css qualificação */
section.qualificacao {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  overflow: hidden;
  flex-flow: column nowrap;
}

section.qualificacao > article > h2 {
  text-align: center;
  margin-bottom: 10px;
}

section.qualificacao > article > p {
  text-align: justify;
  margin-bottom: 10px;
}

section.qualificacao > article > div.sastifacao {
  display: flex;
  justify-content: center;
  gap: 50px;
  font-weight: bold;
}

section.qualificacao > article > div.sastifacao > small {
  display: inline-block;
  width: 100px;
  text-align: center;
  padding: 10px;
}

section.qualificacao > article > div.sastifacao > small > strong {
  font-size: 1.5em;
}

section.qualificacao > article > div.sastifacao > small > em {
  text-decoration: none;
  font-size: 1.5em;
  color: #e3bb42ff;
}

section.qualificacao > aside {
  padding: 5px;
  overflow: hidden;
}
/* Fim css qualificação */

/*Início css serviços */
section.preco_servicos {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 20px;
}


section.preco_servicos > h2 {
  text-align: center;
  padding: 10px;
}

section.preco_servicos > p {
  text-align: center;
  padding: 10px;
}

section.preco_servicos > div.servicos {
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  gap: 20px;
}

section.preco_servicos > div.servicos > div.img_texto {
  display: flex;
  width: 100%;
  padding: 10px;
  align-items: center;
  gap: 10px;
}

section.preco_servicos > div.servicos > div.img_texto > div.img > img {
  width: 40px;
  height: 40px;
}

section.preco_servicos > div.servicos > div.img_texto > div.texto > h3 {
  display: flex;
  text-align: start;
  margin-bottom: 10px;
  width: 100%;
}

section.preco_servicos > div.servicos > div.img_texto > div.texto > p {
  margin-bottom: 10px;
}

section.preco_servicos > div.servicos > div.img_texto > div.texto > p.preco {
  font-weight: bold;
  color: #e3bb42ff;
}
/* Fim do css serviços */

/*Início css pacotes */
section.pacotes {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 20px;
}

section.pacotes > button {
  padding: 20px;
  border: none;
  border-radius: 5px;
  background-color: #e3bb42ff;
  color: white;
  font-size: .8em;
  cursor: pointer;
  width: 200px;
  margin: auto;
}

section.pacotes > h2 {
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

section.pacotes > p {
  text-align: center;
  padding: 10px;
}

section.pacotes > div.servicos {
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  gap: 20px;
}

section.pacotes > div.servicos > div.img_texto {
  display: flex;
  width: 100%;
  padding: 10px;
  align-items: center;
  gap: 10px;
}

section.pacotes > div.servicos > div.img_texto > div.img > img {
  width: 40px;
  height: 40px;
}

section.pacotes > div.servicos > div.img_texto > div.texto > h3 {
  display: flex;
  text-align: start;
  margin-bottom: 10px;
  width: 100%;
}

section.pacotes > div.servicos > div.img_texto > div.texto > p {
  margin-bottom: 10px;
}

section.pacotes > div.servicos > div.img_texto > div.texto > p.preco {
  font-weight: bold;
  color: #e3bb42ff;
}
/* Fim do css pacotes */

/* Iníco do css equipes */
section.equipe {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 20px;
}

section.equipe > button {
  padding: 20px;
  border: none;
  border-radius: 5px;
  background-color: #e3bb42ff;
  color: white;
  font-size: .8em;
  cursor: pointer;
  width: 200px;
  margin: auto;
}

section.equipe > h2 {
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

section.equipe > p {
  text-align: center;
  padding: 10px;
}

section.equipe > div.servicos {
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  gap: 20px;
}

section.equipe > div.servicos > div.img_texto {
  display: flex;
  width: 100%;
  padding: 10px;
  align-items: center;
  gap: 10px;
}

section.equipe > div.servicos > div.img_texto > div.texto > h3 {
  display: flex;
  text-align: start;
  margin-bottom: 10px;
  width: 100%;
}

section.equipe > div.servicos > div.img_texto > div.texto > p {
  margin-bottom: 10px;
}
/* Fim do css equipe */

section.espaco {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 20px;
}

section.espaco > h2 {
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

section.espaco > div.imagens {
  display: flex;
  overflow: hidden;
  flex-flow: column wrap;
  gap: 10px;
  margin-bottom: 10px;
}

section.espaco > div.imagens > img {
  width: 441px;
  height: 435px;
}

ection.espaco > p {
  text-align: center;
  padding: 10px;
}

section.espaco > div.servicos {
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  gap: 20px;
}

section.espaco > div.servicos > div.img_texto {
  display: flex;
  width: 100%;
  padding: 10px;
  align-items: center;
  gap: 10px;
}

section.espaco > div.servicos > div.img_texto > div.texto > h3 {
  display: flex;
  text-align: start;
  margin-bottom: 10px;
  width: 100%;
}

section.espaco > div.servicos > div.img_texto > div.texto > p {
  margin-bottom: 10px;
}

