.page {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
  background-color: #faf8f2;
  overflow-x: hidden;
}

.page>main {
  width: 100vw;
  height: 100%;
}

/* css header */
.page>main>header {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid #e3bb42ff;
  text-align: center;
  gap: 5px;
}

.page>main>header>div>img {
  width: 100px;
  height: 50px;
}

.page>main>header>div>nav {
  display: flex;
  flex-flow: column wrap;
  margin-top: 10px;
  gap: 5px;
}

.page>main>header>div>nav>a {
  text-decoration: none;
  margin-left: 10px;
  color: white;
}
/* Fim css header  */

/* css banner */
section.banner {
  display: flex;
  flex-direction: column;
  background-image: url(../../public/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 20px;
  height: 400px;
  color: #e3bb42ff;
  justify-content: center;
  align-items: center;
  position: relative;
}

section.banner>h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 10px;
}

section.banner>button {
  padding: 10px;
  border-radius: 5px;
  background-color: #e3bb42ff;
  color: white;
  font-size: 1.1em;
  cursor: pointer;
  border: 1px solid transparent;
}
/* Fim css banner */

/* css contato */
section.end_contato {
  background-color: white;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
  flex-flow: column wrap;
  padding: 10px;
}

section.end_contato>div {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.icon {
  width: 35px;
  height: 35px;
  margin: auto;
}

.end_contato>div>h2 {
  width: 200px;
  margin: 0px auto 10px;
}

div.linha {
  border-bottom: 10px solid #e3bb42ff;
  width: 20%;
  text-align: center;
  margin: 0px auto 10px;
}

section.end_contato>div>p {
  text-align: center;
  width: 200px;
  margin: 0px auto 10px;
}

/* Fim css contato */

/* Início css qualificação */
section.qualificacao {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  overflow: hidden;
  flex-flow: column wrap;
}

section.qualificacao>article>h2 {
  text-align: center;
  margin-bottom: 10px;
}

section.qualificacao>article>p {
  text-align: justify;
  margin-bottom: 10px;
}

section.qualificacao>article>div.sastifacao {
  display: flex;
  justify-content: center;
  gap: 50px;
  font-weight: bold;
}

section.qualificacao>article>div.sastifacao>small {
  display: inline-block;
  width: 100px;
  text-align: center;
  padding: 10px;
}

section.qualificacao>article>div.sastifacao>small>strong {
  font-size: 1.5em;
}

section.qualificacao>article>div.sastifacao>small>em {
  text-decoration: none;
  font-size: 1.5em;
  color: #e3bb42ff;
}

section.qualificacao>aside {
  padding: 5px;
  overflow: hidden;
}

section.qualificacao>aside>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Fim css qualificação */

/*Início css serviços */
section.preco_servicos {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 20px;
}

section.preco_servicos>h2 {
  text-align: center;
  padding: 10px;
}

section.preco_servicos>p {
  text-align: center;
  padding: 10px;
}

section.preco_servicos>div.servicos {
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  gap: 20px;
}

section.preco_servicos>div.servicos>div.img_texto {
  display: flex;
  width: 100%;
  padding: 10px;
  align-items: center;
  gap: 10px;
}

section.preco_servicos>div.servicos>div.img_texto>div.texto {
  max-width: 250px;
}

section.preco_servicos>div.servicos>div.img_texto>div.img>img {
  width: 40px;
  height: 40px;
}

section.preco_servicos>div.servicos>div.img_texto>div.texto>h3 {
  display: flex;
  text-align: start;
  margin-bottom: 10px;
  width: 100%;
}

section.preco_servicos>div.servicos>div.img_texto>div.texto>p {
  margin-bottom: 10px;
}

section.preco_servicos>div.servicos>div.img_texto>div.texto>p.preco {
  font-weight: bold;
  color: #e3bb42ff;
}

/* Fim do css serviços */

/*Início css pacotes */
section.pacotes {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 20px;
}

section.pacotes>button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #e3bb42ff;
  color: white;
  font-size: .8em;
  cursor: pointer;
  margin: auto;
  border: 1px solid transparent;
}

section.pacotes>h2 {
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

section.pacotes>p {
  text-align: center;
  padding: 10px;
}

section.pacotes>div.servicos {
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  gap: 20px;
}

section.pacotes>div.servicos>div.img_texto {
  display: flex;
  width: 100%;
  padding: 10px;
  align-items: center;
  gap: 10px;
}

section.pacotes>div.servicos>div.img_texto>div.texto {
  max-width: 250px;
}

section.pacotes>div.servicos>div.img_texto>div.img>img {
  width: 40px;
  height: 40px;
}

section.pacotes>div.servicos>div.img_texto>div.texto>h3 {
  display: flex;
  text-align: start;
  margin-bottom: 10px;
  width: 100%;
}

section.pacotes>div.servicos>div.img_texto>div.texto>p {
  margin-bottom: 10px;
}

section.pacotes>div.servicos>div.img_texto>div.texto>p.preco {
  font-weight: bold;
  color: #e3bb42ff;
}
/* Fim do css pacotes */

/* Iníco do css equipes */
section.equipe {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 20px;
}

section.equipe>button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #e3bb42ff;
  color: white;
  font-size: .8em;
  cursor: pointer;
  margin: auto;
  border: 1px solid transparent;
}

section.equipe>h2 {
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

section.equipe>p {
  text-align: center;
  padding: 10px;
}

section.equipe>div.servicos {
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  gap: 20px;
}

section.equipe>div.servicos>div.img_texto {
  display: flex;
  width: 100%;
  padding: 10px;
  align-items: center;
  gap: 10px;
}

section.equipe>div.servicos>div.img_texto>div.texto>h3 {
  display: flex;
  text-align: start;
  margin-bottom: 10px;
  width: 100%;
}

section.equipe>div.servicos>div.img_texto>div.texto>p {
  margin-bottom: 10px;
}
/* Fim do css equipe */

/* Início do css espaço */
section.espaco {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 20px;
}

section.espaco>h2 {
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

section.espaco>div.imagens {
  display: flex;
  overflow: hidden;
  flex-flow: column wrap;
  gap: 10px;
  margin-bottom: 10px;
}

section.espaco>div.imagens>img {
  width: 100%;
  height: 431px;
  object-fit: cover;
  overflow: hidden;
}

section.espaco>p {
  text-align: center;
  padding: 10px;
}

section.espaco>div.servicos {
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  gap: 20px;
}

section.espaco>div.servicos>div.img_texto {
  display: flex;
  width: 100%;
  padding: 10px;
  align-items: center;
  gap: 10px;
}

section.espaco>div.servicos>div.img_texto>div.texto>h3 {
  display: flex;
  text-align: start;
  margin-bottom: 10px;
  width: 100%;
}

section.espaco>div.servicos>div.img_texto>div.texto>p {
  margin-bottom: 10px;
}
/* Fim do css espaço */

/* Início do css depoimento */
section.aparencia_depoimento {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

section.aparencia_depoimento>div.banner {
  background-image: url('../../public/banner10.png');
  background-size: cover;
  width: 100%;
  height: 150px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

section.aparencia_depoimento>div.banner>h1 {
  color: #e3bb42ff;
  text-align: center;
  text-shadow: 2px 2px 2px black;
  width: 80%;
}

section.aparencia_depoimento>div.banner>button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #e3bb42ff;
  color: white;
  font-size: .8em;
  cursor: pointer;
  margin: auto;
  border: 1px solid transparent;
}

section.aparencia_depoimento>div.depoimentos {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

section.aparencia_depoimento>div.depoimentos>h2 {
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

section.aparencia_depoimento>div.depoimentos>p {
  text-align: center;
  padding: 10px;
}

section.aparencia_depoimento>div.falas {
  display: flex;
  overflow-x: auto;
  flex-flow: row nowrap;
}

section.aparencia_depoimento>div.falas::-webkit-scrollbar {
  width: 5px; /* Largura da barra de rolagem */
  height: 5px; /* Altura da barra de rolagem */
}

section.aparencia_depoimento>div.falas::-webkit-scrollbar-thumb {
  background-color: #e3bb42ff; /* Cor da barra */
  border-radius: 5px; /* Bordas arredondadas */
}

section.aparencia_depoimento>div.falas::-webkit-scrollbar-track {
  background-color: lightgray; /* Cor do fundo da barra */
}

section.aparencia_depoimento>div.falas>div {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 200px;
  align-items: center;
  gap: 5px;
  margin-left: 5px;
  text-align: center;
  padding: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.279);
}

section.aparencia_depoimento>div.falas>div>img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

section.aparencia_depoimento>div.falas>div>div.icons {
  color: yellow;
}
/* Fim do css depoimento */

/* Início css agendamento */
section.agendamento {
  background-image: url("../../public/banner5.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-flow: column wrap;
  height: 200px;
  margin-bottom: 10px;
  justify-content: center;
}

section.agendamento>div {
  display: flex;
  flex-flow: column wrap;
  background-color: rgba(255, 255, 255, 0.505);
  width: 80%;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

section.agendamento>div>h1 {
  text-align: center;
  color: #e3bb42ff;
  text-shadow: 2px 2px 2px black;
  margin-bottom: 10px;
}

section.agendamento>div>p {
  text-align: center;
  text-shadow: 2px 2px 2xp #e3bb42ff;
  margin-bottom: 10px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(227, 187, 66, 0.262);
}

section.agendamento>div>div.contato {
  display: flex;
  justify-content: center;
  align-items: center;display: flex;
  justify-content: center;
  align-items: center;
}

div.contato>.icons {
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

div.contato>small {
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(227, 187, 66, 0.262);
}
/* Fim do css agendamento */

/* Início css localização */
section.localizacao {
  height: 200px;
  overflow: hidden;
}
/* Fim css localização */

/* Início css footer */
footer.footer {
  background-color: black;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 10px;
}

footer.footer>div>img {
  width: 100px;
  height: 50px;
  margin-bottom: 20px;
}

footer.footer>div>nav {
  display: flex;
  flex-flow: column wrap;
  gap: 5px;
  align-items: center;
  margin-bottom: 20px;
}

footer.footer>div>nav>a {
  text-decoration: none;
  color: white;
}


footer.footer>div>div.icons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

footer.footer>div>div.icons>.sociais_icons {
  color: white;
  width: 20px;
  height: 20px;
}

footer.footer>div.autor {
  justify-content: center;
  text-align: center;
  color: white;
  font-size: .8em;
}
/* Fim css footer */

/* Início css botão whatsapp */
.whatsappButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.whatsappButton:hover {
  background-color: #128c7e;
}

.whatsappIcon {
  color: white;
}
/* Fim do botão whatsapp */

/* INÍCIO DA RESPONSIVIDADE 768PX TABLET */
@media screen and (min-width: 768px) {
  /* Início da css header */
  .page>main>header {
    justify-content: center;
    flex-flow: row wrap;
    padding: 20px 100px;

    position: fixed;
    top: 0;
    z-index: 100;
  }
  
  .page>main>header>div {
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .page>main>header>div>nav {
    flex-flow: row wrap;
  }

  .page>main>header>div>nav>a:hover {
    color: #e3bb42ff;
  }
  /* Fim do css header */

  /* Início do css banner */
  section.banner {
    position: relative;
  }

  section.banner>button:hover {
    background-color: white;
    color: #e3bb42ff;
    border: 1px solid #e3bb42ff;
  }
  /* Fim do css banner */

  /* Inicio css contato */
  section.end_contato {
    max-width: 1024px;
    flex-flow: row nowrap;
    align-items: flex-start;
  }
  /* Fim do css contato */

  /* Início do css qualificação */
  section.qualificacao {
    width: 100%;
    max-width: 1024px;
    margin: 30px auto 0px;
    flex-flow: row nowrap;
    gap: 5px;
    flex: 1 1 auto;
  }

  section.qualificacao>article {
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    justify-content: center;
    margin: 0;
    padding: 5px;
    flex-wrap: wrap;
    flex: 1 1 auto;
  }

  section.qualificacao>aside {
    width: 50%;
    flex-wrap: wrap;
  }
  /* Fim do css qualificação */

  /* Início do css serviços */
  section.preco_servicos>div.servicos {
    max-width: 1024px;
    flex-flow: row wrap;
    margin: auto;
    justify-content: center;
    padding: 10px 20px
  }

  
  section.preco_servicos>div.servicos>div.img_texto {
    flex: 0 1 calc(50% - 20px);
  }
  
  section.preco_servicos>div.servicos>div.img_texto>div.texto {
    max-width: 250px;
  }
  /* Fim do css serviços */
  
  /* Início do css pacote */
  section.pacotes>div.servicos {
    max-width: 1024px;
    flex-flow: row wrap;
    margin: auto;
    justify-content: center;
    padding: 10px 20px
  }
  
  section.pacotes>button {
    font-size: 1.1em;
  }
  
  section.pacotes>button:hover {
    background-color: white;
    color: #e3bb42ff;
    border: 1px solid #e3bb42ff;
  }

  section.pacotes>div.servicos>div.img_texto {
    flex: 0 1 calc(50% - 20px);
  }

  section.pacotes>div.servicos>div.img_texto>div.texto {
    max-width: 250px;
  }
  /* Fim do css pacote */

  /* Início do css equipe */
  section.equipe>div.servicos {
    width: 100%;
    max-width: 1024px;
    flex-flow: row wrap;
    margin: auto;
    justify-content: center;
    padding: 20px 30px
  }

  section.equipe>button {
    font-size: 1.1em;
  }

  section.equipe>button:hover {
    background-color: white;
    color: #e3bb42ff;
    border: 1px solid #e3bb42ff;
  }

  section.equipe>div.servicos>div.img_texto {
    flex: 0 1 calc(50% - 20px);
  }

  section.equipe>div.servicos>div.img_texto>div.texto {
    max-width: 350px;
  }
  /* Fim do css equipe */

  /* Início do css espaço */
  section.espaco>div.imagens {
    max-width: 1024px;
    flex-flow: row wrap;
    margin: auto;
    justify-content: center;
  }

  section.espaco>div.imagens>img {
    flex: 1 1 calc(50% - 5px);
    width: auto;
    min-width: 358px;
    height: auto;
  }

  section.espaco>div.servicos {
    max-width: 1204px;
    flex-flow: row nowrap;
    margin: auto;
    padding-top: 20px;
  }

  section.espaco>div.servicos>div.img_texto {
    flex: 1 1 calc(50% - 10px);
  }

  section.espaco>div.servicos>div.img_texto>div.texto {
    width: 100%;
    max-width: calc(500px - 10px);
    padding-left: 10px;
  }
  /* Fim do css espaço */

  /* Início do css depoimento */
  section.aparencia_depoimento>div.banner {
    height: 400px;
  }

  section.aparencia_depoimento>div.banner h1,
  section.aparencia_depoimento>div.banner button {
    margin: 10px 0;
  }

  section.aparencia_depoimento>div.banner>button:hover {
    background-color: white;
    color: #e3bb42ff;
    border: 1px solid #e3bb42ff;
  }

  section.aparencia_depoimento>div.banner>h1 {
    font-size: 2em;
  }

  section.aparencia_depoimento>div.banner>button {
    font-size: 1.2em;
  }

  section.aparencia_depoimento>div.falas {
    max-width: 1024px;
    margin: auto;
  }

  section.aparencia_depoimento>div.falas>div {
    flex: 0 0 calc(25% - 10px);
    max-width: 100%;
  }
  /* Fim do css depoimento */

  /* Início do css agendamento */
  section.agendamento {
    height: 400px;
  }

  section.agendamento > div {
    max-width: 1024px;
    height: 200px;
  }

  section.agendamento > div > h1 {
    font-size: 2em;
  }

  section.agendamento > div > p {
    font-size: 1.1rem;
    max-width: 600px;
  }
  /* Fim do css agendamento */

  /* Inicio do css contato */
  div.contato>.icons {
    width: 40px;
    height: 40px;
  }

  div.contato>small {
    font-size: 1.1em;
  }
  /* Fim do css contato */

  /* Início do css localização */
  section.localizacao {
    height: 400px;
  }
  /* Fim do css localização */
  
  /* Início do css footer */
  footer.footer {
    flex-flow: row wrap;
    padding: 10px 10px;
    justify-content: center;
  }

  footer.footer>div {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
  }

  footer.footer>div>nav {
    flex-flow: row wrap;
  }

  footer.footer>div>nav>a:hover {
    color: #e3bb42ff;
  }
  /* Fim do css footer */

  /* Início do css whatsapp */
  .whatsappIcon {
    width: 20px;
    height: 20px;
  }
  /* Fim do css whatsapp */
}
/* FIM DA RESPONSIVIDADE 768PX TABLET */

/* INÍCIO DA RESPONSIVIDADE 992PX DESKTOP E TV */
@media screen and (min-width: 992px) {
  /* Inicio do css contato */
  section.end_contato {
    max-width: 1024px;
    margin: auto;
    position: absolute;
    flex-flow: row nowrap;

    align-items: flex-start;

    top: 50%;
    left: 50%;

    transform: translate(-50%, 40%);
  }
  /* Fim do css contato */

  /* Início da css qualificação */
  section.qualificacao {
    width: 100%;
    max-width: 1024px;
    margin: 140px auto 0px;
    flex-flow: row nowrap;
    gap: 5px;
    flex: 1 1 auto;
  }
  /* Fim do css qualificação */

  /* Início do css espaço */
  section.espaco>div.imagens {
    flex-flow: row nowrap;
  }

  section.espaco>div.imagens>img {
    flex: 1 1 auto;
    width: 100%;
    min-width: 200px;
    height: auto;
  }
  
  section.aparencia_depoimento>div.banner {
    height: 500px;
  }
  /* Fim do css espaço */
  
  
  /* Fim do css banner */

  /* Início do css botão whatsapp */
  .whatsappIcon {
    width: 30px;
    height: 30px;
  }
  /* Fim do css botão whatsapp */
}